/* Card.css */
.card {
  background-color: white;
  padding:32px;
  width: 250px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #cedbf6;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.measurement-container {
  display: flex;
  justify-content: space-between;
}

/* .title {
  color: #6d758f; 
  font-size: small;
}

.value-header {
  display: flex;
  flex-direction: column;
}

.value {
  margin: 0;
  color: #b4b9c9;
}

.measurement-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1px;
}

.measurement {
  color: #353e5c; 
  margin: 0;
}

.unit {
  color: #b4b9c9; 
  margin: 0;
  font-size: small;
} */
