:root {
    --blue: #066DCD;
    --orange: #FF7A00;
    --grey: #E9EEF2;

    --white-primary: #F8FCFD;
    --white-secondary:#EAF2F8;

    --text-primary: #212B36;
    --text-secondary: #34393F;

    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

p,h1,h2,h3 {
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--text-primary);
}

p.bold,
h1.bold,
h2.bold,
h3.bold {
    font-weight: bold;
}

p.semibold,
h1.semibold,
h2.semibold,
h3.semibold {
    font-weight: 600;
}

p.medium,
h1.medium,
h2.medium,
h3.medium {
    font-weight: 500;
}