.FDBox{
    height: auto;
    background-color: rgb(248, 248, 248);
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 12px;
    padding: 24px 12px;
}

 /* 
max-width: 700px;
min-height: 300px; */
    