.nav-section {
    position: sticky;
    top: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: var(--white-primary);
    align-items: center;
    width: auto;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    background-color: var(--white-secondary);
    align-items: center;
    width: 383px;
    min-width: auto;
    min-height: 43px;
    padding: 0px 16px;
    border-radius: 8px;
    margin-right: 16px;
}

.logo-container h2 {
    margin-bottom: 0px;
    color: var(--orange);
    font-size: 24px;
}

.logo-container .kmitllogo-image {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 16px;
    min-height: 43px;
    padding: 8px 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-secondary);
    border-radius: 8px;
    transition: 0.3s ease;

    color: var(--text-primary);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

  .nav-item:hover {
    opacity: 0.5;
} 

.nav-section button {
    font-size: 14px;
    min-height: 43px;
    padding: 8px 24px;
    background-color: var(--orange);;
    border-radius: 8px;
    color: var(--white-primary);
    transition: 0.3s ease;
}
  
.nav-section button:hover {
    opacity: 0.5;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-section {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
  }
  .logo-container {
    width: 300px;
    padding: 0px 24px;
  }

  .logo-container h2 {
    margin-bottom: 0px;
    color: var(--orange);
    font-size: 24px;
  }

  .nav-item {
    margin-right: 16px;
    width: auto;
    font-size: 14px;
  }

  .nav-section button {
    font-size: 14px;
    padding: 8px 24px;
  }
}

@media (max-width: 480px) {
  .nav-section {
    display: flex;
    justify-content: center;
    padding: 16px 8px;
  }
  .logo-container {
    display: none;
  }
  .nav-item {
    margin-right: 16px;
    width: auto;
    font-size: 12px;
    padding: 8px 16px;
  }

  .nav-section button {
    font-size: 12px;
    padding: 8px 16px;
  }  
}
