.about-section {
    width: auto;
    background-color: var(--white-primary);
    padding: 160px 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-section p {
    width: 1040px;
    font-size: 36px;
    font-weight: 500;
}

.about-section .span-about-text {
    color: var(--blue);
}

.water-image {
    width: 100%; /* Full width */
    max-height: 428px; /* Maximum height */
    height: auto; /* Maintain aspect ratio */
}

.highlight-section {
    background-color: var(--white-secondary);
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-section .highlight-text {
    margin-bottom: 24px;
}

.before-end-section {
    background-color: var(--white-primary);
    height: auto;
    padding: 40px 100px;
    display: flex;
    align-items: center;
}

.before-end-section h1{
    margin-right: 24px;
}

.location-section {
    background-color: var(--white-primary);
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.location-section .railogo-image {
    
    height: 100%;
    max-width: 100px;
    width: auto;
    margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .water-image {
        width: 100%; /* Full width */
        max-height: 300px; /* Maximum height */
        height: auto; /* Maintain aspect ratio */
    }

    .about-section {
        width: auto;
        background-color: var(--white-primary);
        padding: 100px 32px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .about-section p {
        width: 1040px;
        font-size: 32px;
        font-weight: 500;
    }

    .highlight-section {
        background-color: var(--white-secondary);
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
}

@media (max-width: 480px) {
    .water-image {
        width: 100%; /* Full width */
        max-height: 200px; /* Maximum height */
        height: auto; /* Maintain aspect ratio */
    }

    .about-section {
        width: auto;
        background-color: var(--white-secondary);
        padding: 32px 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .about-section p {
        width: 1040px;
        font-size: 24px;
        font-weight: 500;
    }

    .highlight-section {
        background-color: var(--white-secondary);
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .before-end-section {
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
    }
}

  
  






